{% load static %}
{% extends 'base/base_template.html' %}

{% block extbasecss %}
    <link rel="stylesheet" href="{% static 'base/css/base.css' %}">
    {% block extcss %}
    
    {% endblock %}
{% endblock %}

{% block extbasejs %}
    <script src="{% static 'base/js/base.js' %}"></script>
    {% block extjs %}
    
    {% endblock %}
{% endblock %}

{% block body %}
    {% block header %}
        <header>TPS138</header>
    {% endblock %}

    {% block content %}


    {% endblock %}

    {% block footer %}
        <footer>
            底部
        </footer>

    {% endblock %}

{% endblock %}